// @mixin player-portrait($xoffset, $yoffset, $rounded-corners, $border-color){
//     box-shadow:
// }
//sass variables
$player_one_color: #84a59d;
$opponent_color: #8a3033;

html {
    box-sizing: border-box;
    }
    
*, *:before, *:after {
    box-sizing: inherit;
    }


h1{
    color: #f7ede2;
    padding-left: 10px;
}

body{
    margin: 0;
    background-color: rgb(74, 73, 85);
    background-image: url('../images/lycan.jpg');
    // border: solid 1 px black;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    background-color: #f7ede2;
    height: 40px;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px black;
}

main{
    flex: 1;
}

footer{
    background-color: whitesmoke;
    padding: 20px;
    border-top: solid 1px black;
}

.player-game{
    background-color: rgb(51, 124, 33);
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    border-bottom: 0;
}

.opponent-game{
    background-color: rgb(199, 130, 130);
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    border-top: 0;
}

.dice{
    max-width: 40px;
    height: auto;
}

.roll-dice{
    width: 60px;
    height: 60px;
    background-color: cornflowerblue;
    
}

.play-button{
    background-image: linear-gradient(to right, purple, blue, yellow, );
    display: block;
    width: 100%;
    color: #f7ede2;
    font-weight: 700;
    padding: 10px;
}

.reset{
    max-width: 60px;
    height: 50px;
    background-color: darkgray;
    color: lightgreen;
}

.player{
    max-width: 200px;
    height: 250px;
    justify-content: center;
    align-items: flex-end;
    // margin-left: 70px;
    padding: 10px;
    object-fit: cover;
}



.player-side{
    background-color: $player_one_color;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
}

.opponent-side{
    background-color: $opponent_color;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
}


.player-select{
    border: 2px solid rgb(100, 218, 32);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    max-width: 60%;
    align-items: flex-end;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 4px;
    // flex: 2;
}

.opponent-select{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    flex: 2;
    border-radius: 12px;
    margin-top: 4px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.thumbs{
    width: 118px;
    height: 127px;
    object-fit: cover;
}

.winner{
    border: solid 3px white;
    background-color: purple;
    top:30%;
    left:35%;
    position :fixed;
    height :200px;
    max-width :50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
    font-size: x-large;
    padding: 8px 20px 8px 8px;
}

.close-pop-up{
    position: absolute;
    right: 5px;
}

.midway-line{
    // background-image: linear-gradient(to right, purple, blue, yellow, );
    // background-color: #8c2f39;
    // display: block;
    width: 100%;
}


#wrapper{
    display: flex;
    flex-direction: column;
    max-width: 864px;
    margin: auto;
    background-color: #2e294e;
    min-height: 100vh;
    border: solid 1px black;
    
}